p{
 font-family: Georgia, 'Times New Roman', Times, serif ;
}

.row{
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}


.row .border-top{
  width: 100%;
  height: 10px;
}

.row .col-md-7 img{
  width: 100%;
  height: auto;
  padding-top: 2%;
}

 
.col-md-5{
  padding-top: 6%;
  padding-left: 10%;
  padding-right: 10%;

}
.col-md-5 h5{
  padding-top: 11%;
}
.container1{
  padding-right: 5%;
  padding-left: 5%;

}
.pengalaman img{
  width: 100%;
  height: auto;
  padding-left: 55px;
  padding-right: 80px;
}
.pengalaman .isi{
  text-align: center;
  padding-top: 10px;
  text-transform: capitalize;
}
